<main class="main">
  <h1>Upload Scenario</h1>

  <form (ngSubmit)="save()" [formGroup]="form">
    <input type="text" formControlName="title" placeholder="Title">
    <input type="text" formControlName="description" placeholder="Description">
    <input type="text" formControlName="scenarioType" placeholder="Scenario Type">
    <input type="text" formControlName="url" placeholder="URL">
    
    <div>
      <h3>Possible Answers</h3>
      <div formArrayName="options" required>
        <div *ngFor="let option of optionsArray.controls; let i = index">
          <input 
            type="text" 
            [formControl]="$any(option)" 
            placeholder="Enter a possible response">
          <button type="button" (click)="removeOption(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addOption()">Add Answer Option</button>
    </div>

    <button type="submit" [disabled]="form.invalid">Save</button>
  </form>
</main>
